@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* .header-bg {
    background: rgb(19,17,17);
    background: linear-gradient(90deg, rgba(19,17,17,1) 34%, rgba(45,88,147,1) 82%, rgba(26,26,29,1) 100%);
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.anton-font {
  font-family: "Archivo Black", sans-serif;
}   